## generic files to ignore
*~
.DS_Store
.DS_Store?
*.swp
*.out
*.lock
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

## composer related
/vendor/
composer.phar
composer.lock

## editor related
.idea

## generator related
generator/*

## documentation related
/docs/
